$color-light: #fff;
$color-dark: #2f3542;
$color-darker: darken($color-dark, 3%);
$color-success: #26de81;
$color-warning: #e1644e;
$color-is-favorite: #e3ab27;

$font-text: 'Poppins', sans-serif;
$font-bold: bold;

$radius: 5px;
$base-size: 12px;
$transition: all 0.5s;
